<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col>
          <div></div>
        </ion-col>
        <ion-col>
          <div>Petty SHOP</div>
        </ion-col>
        <ion-col>
          <div></div>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
<ion-col>
    <ion-card class="welcome-card">
      <img src="/assets/17.jpg" alt="" width=80% height="auto" />
      <ion-card-header>
        <ion-card-title>Melayani kebutuhan hewan peliharaan Anda</ion-card-title>
      </ion-card-header>
               </ion-card>
        </ion-col>
        <ion-card-header>
            <ion-card-title>Kategori Barang :</ion-card-title>
          </ion-card-header>
        <ion-grid>
          <ion-row>
            
            <ion-col>
              
                <ion-card class="welcome-card">
                    <img src="/assets/20.jpg" alt="" width=20% height=70% />
                    <ion-item [routerLink]="'/tabs/tab1/detail'">
                      <ion-icon slot="start" color="high" name="cart"></ion-icon>
                      <ion-label>Makanan Kucing</ion-label>
                    </ion-item>
                    <ion-card-header>
                    </ion-card-header>
                             </ion-card>
                            </ion-col>
                
             <ion-col> 
                <ion-card class="welcome-card">
                    <img src="/assets/12.png" alt="" width=20% height="50%" />
                    <ion-item [routerLink]="'/tabs/tab1/detail3'">
                      <ion-icon slot="start" color="high" name="cart"></ion-icon>
                      <ion-label>Dog Beverages</ion-label>
                    </ion-item>
                    <ion-card-header>
                    </ion-card-header>
                             </ion-card>
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                        <ion-grid>
                            <ion-row>
             <ion-col> 
                <ion-card class="welcome-card">
                    <img src="/assets/15.jpg" alt="" width=20% height=50% />
                    <ion-item [routerLink]="'/tabs/tab1/detail2'">
                      <ion-icon slot="start" color="high" name="cart"></ion-icon>
                      <ion-label>Peralatan Kandang</ion-label>
                    </ion-item>
                    <ion-card-header>
                    </ion-card-header>
                             </ion-card>
                            </ion-col>
     
              
              <ion-col> 
                  <ion-card class="welcome-card">
                      <img src="/assets/16.jpg" alt="" width=20% height=50% />
                      <ion-item [routerLink]="'/tabs/tab1/detail4'">
                        <ion-icon slot="start" color="high" name="cart"></ion-icon>
                        <ion-label>Peralatan Treatment</ion-label>
                      </ion-item>
                      <ion-card-header>
                      </ion-card-header>
                               </ion-card>
                              </ion-col>
    
   
  
  </ion-row>
  </ion-grid>
</ion-content>
