<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/11.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Melayani Kebutuhan Hewan Kesayangan Anda </ion-card-subtitle>
        <ion-card-title>Klik Petty-Petty.id</ion-card-title>
      </ion-card-header>
    </ion-card>
   
    <ion-button shape="round" size ="large" expand="full" color= "success">Food Beverages</ion-button>
    <ion-button shape="round" size ="large" expand="full" color="tertiary">Home&Accesories</ion-button>
    <ion-button shape="round" size ="large" expand="full" color= "warning">Medicine</ion-button>
    <ion-button shape="round" size ="large" expand="full" color="secondary">Tools</ion-button>

</ion-content>

